@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(220, 227, 236);
}

h1{
    padding: 50px;
    text-align: center;
}

fieldset#container{
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
    color: whitesmoke;
    width: 500px;
    height: 600px;
    margin: auto;
    background-color: rgb(57, 57, 105);
    padding: 5%;
    border-radius: 1%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

fieldset{
    border: 0;
}

input[type="text"]:focus, input[type="radio"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus{
    background-color: rgb(198, 209, 224);
}

input:hover, textarea:hover, button:hover{
    background-color: rgb(198, 209, 224);
}

button{
    height: 40px;
    width: 100px;
    border-radius: 0.5px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
